ul {
    list-style-type: none;
    background-color:blue;
    margin-top: 2px; 
}
.up{
    border:1px solid blue;
    border-radius: 10px 10px 150px 10px;
    height:25vh;
    background-color:teal;
      }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-bottom: 1px;
   margin-right: 10px;
  }
  
  li a:hover {
cursor:pointer;
  }

  .sup{
      float: left;
      text-align: center;
  }
  img{
    margin-left: 400px;
  }

  .subjects{
      border:1px solid teal;
      border-radius:20px 2px 20px 2px;
text-align: center;

  }
  .sub{
      margin-left:200px;
      width:60%;
border:1px solid teal;
padding:20px;

  }
  p a{
      text-decoration:none;
      font-size: 20px;
      font-weight: 20px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .btn1{
border:2px solid tale;
padding:15px;
border-radius:2px;

  }
  .btn1 a{
text-decoration: none;


  }